doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
    //- link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="public/css/reset.css")
    link(rel="stylesheet", href="public/css/common.css")
    link(rel="stylesheet", href="public/css/layout/welcome.css")
    link(rel="stylesheet", href="public/css/layout/control.css")
    link(rel="stylesheet", href="public/css/layout/chat.css")
    link(rel="stylesheet", href="public/css/elements/button.css")
    link(rel="stylesheet", href="public/css/elements/bubble.css")
  body 
    header
      h1 Noom
    main 
      div#welcome
        form.welcome-form
          input(placeholder="Room name", required, type="text")
          button Enter room
      div#call.call
        div#myStream
          div.control
            button#mute Mute
            button#camera Turn Camera Off
            select#cameras
          div
            video#myFace(autoplay, playsinline, width="400", height="400")
            video#peerFace(autoplay, playsinline, width="400", height="400")
        div.chat 
          ul.chats 
            li example
            li example
          form 
            input(placeholder="Message", required, type="text")
            input(value="Send", required, type="submit")
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js")
