ul.chats li{
  position: relative;
  list-style-type: none;
  width: 38%;
  height: 40px;
  margin: 0 0 10px 60%;
  padding: 10px;
  border-radius: 8px;
  background-color: #3b82f6;
  color: #fff;
}
ul.chats li::after{
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 0;
  height: 0; 
  border-bottom: 16px solid transparent;
  border-left: 16px solid #3b82f6;
}

@media screen and (max-width: 768px) {
  ul.chats li{
    margin: 0 0 10px 30%;
    width: 65%;
  }
}